@model AHTB_TimBanCungGu_API.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập || Đăng ký</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/dangnhap.css">
</head>
<body>
    <div class="container" id="container">
        <!-- Đăng nhập Form -->
        <div class="form-container sign-in-container">
            <form id="signInForm" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <h1>Đăng nhập</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span>hoặc sử dụng tài khoản của bạn</span>
                <div class="infield">
                    <input asp-for="UserName" placeholder="UserName" name="UserName" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="infield">
                    <input type="password" asp-for="Password" placeholder="Password" name="password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit">Đăng nhập</button>
                <a asp-action="QuenMatKhau" class="forgot-password-link">Quên mật khẩu?</a>
                <!-- Thông báo lỗi -->
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <span id="errorMessage" class="error-message">@Html.Raw(ViewBag.Message)</span>
                }
            </form>
        </div>

        <!-- Đăng ký Form -->
        <div class="form-container sign-up-container">
            <form id="signUpForm" asp-action="Register" method="post">
                <h1>Tạo tài khoản</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span>Vui lòng nhập thông tin của bạn tại đây</span>
                <div class="infield">
                    <input type="text" placeholder="UserName" asp-for="UserName" name="UserName" required pattern="^[A-Za-z0-9]+$" title="Chỉ cho phép ký tự chữ và số, không có ký tự đặc biệt." />
                    <label></label>
                </div>
                <div class="infield">
                    <input type="email" placeholder="Email" id="emailInput" asp-for="ThongTinCN.Email" name="Email" required />
                    <label></label>
                </div>
                <div class="infield">
                    <input type="password" asp-for="Password" placeholder="Password" name="Password" required minlength="6" maxlength="20" pattern="^(?=.*[a-zA-Z])(?=.*\d).+$" title="Mật khẩu phải chứa ít nhất 6 ký tự và tối đa 20 ký tự, bao gồm cả chữ và số." />
                    <label></label>
                </div>
                <button type="submit">Đăng ký</button>
                <a asp-action="QuenMatKhau" class="forgot-password-link">Quên mật khẩu?</a>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Chào mừng trở lại!</h1>
                    <p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình.</p>
                    <button class="btn btn-outline-dark" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Chào mừng bạn đến!</h1>
                    <p>Nếu bạn đã có tài khoản, hãy đăng nhập tại đây.</p>
                    <button class="ghost btn" id="signUp">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Success Modal -->
    <div id="successModal" class="modal">
        <div class="modal-content">

            <!-- Animated Checkmark -->
            <div class="checkmark-container">
                <div class="checkmark">
                    <div class="checkmark-circle"></div>
                    <div class="checkmark-stem"></div>
                    <div class="checkmark-kick"></div>
                </div>
            </div>

            <p>Đăng nhập thành công! Đang chuyển đến trang chủ...</p>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        @if (ViewBag.ShowSuccessModal != null && ViewBag.ShowSuccessModal == true || ViewBag.ShowInterface == "khach")
        {
            <text>
                                    var modal = document.getElementById("successModal");
                modal.style.display = "block";

                setTimeout(function () {
                    modal.style.display = "none";
                    window.location.href = '@Url.Action("Index", "Home")';
                }, 3000); // Adjust the time as necessary
            </text>
        }
        });
        document.addEventListener("DOMContentLoaded", function () {
        @if (ViewBag.ShowSuccessModal != null && ViewBag.ShowSuccessModal == true && ViewBag.ShowInterface != "khach")
        {
            <text>
                var modal = document.getElementById("successModal");
                modal.style.display = "block";

                setTimeout(function () {
                    modal.style.display = "none";
                    window.location.href = '@Url.Action("Index", "Home", new { area = "Admin" })';
                }, 3000); // Adjust the time as necessary
            </text>
        }
        });

    </script>
    <script>
        function convertToNonDiacritics(input) {
            const vietnameseMap = {
                'a': ['á', 'à', 'ả', 'ã', 'ạ', 'â', 'ầ', 'ấ', 'ẩ', 'ẫ', 'ậ', 'ă', 'ằ', 'ắ', 'ẳ', 'ẵ', 'ặ'],
                'e': ['é', 'è', 'ẻ', 'ẽ', 'ẹ', 'ê', 'ề', 'ế', 'ể', 'ễ', 'ệ'],
                'i': ['í', 'ì', 'ỉ', 'ĩ', 'ị'],
                'o': ['ó', 'ò', 'ỏ', 'õ', 'ọ', 'ô', 'ồ', 'ố', 'ổ', 'ỗ', 'ộ', 'ơ', 'ờ', 'ớ', 'ở', 'ỡ', 'ợ'],
                'u': ['ú', 'ù', 'ủ', 'ũ', 'ụ', 'ư', 'ừ', 'ứ', 'ử', 'ữ', 'ự'],
                'y': ['ý', 'ỳ', 'ỷ', 'ỹ', 'ỵ'],
                'd': ['đ']
            };

            let result = input;
            for (let key in vietnameseMap) {
                vietnameseMap[key].forEach(function (char) {
                    result = result.replace(new RegExp(char, 'g'), key);
                });
            }
            return result;
        }

        document.addEventListener('input', function (event) {
            if (event.target.matches('[name="UserName"], [name="Password"]')) {
                event.target.value = convertToNonDiacritics(event.target.value);
            }
        });
    </script>

    <script>
        // Xử lý chuyển đổi giữa đăng nhập và đăng ký
        const signInButton = document.getElementById('signIn');
        const signUpButton = document.getElementById('signUp');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
        span.onclick = function () {
            modal.style.display = 'none';
        };

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        };
    </script>

    <style>
        .error-message {
            display: block;
            margin-top: 10px;
            font-size: 0.9rem;
            color: red; /* Màu đỏ để hiển thị lỗi */
            text-align: center;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
            text-align: center;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover, .close:focus {
                color: black;
                cursor: pointer;
            }

        .indicator.success {
            color: green;
        }

        .indicator.fail {
            color: red;
        }
    </style>
</body>
</html>