body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero-section {
    background-image: url('backgrounddangnhap.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

    .hero-section h1 {
        font-size: 3rem;
        color: white; /* Màu đỏ */
        margin: 0;
        animation: fadeIn 2s ease-in-out;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }

    .hero-section p {
        font-size: 1.2rem;
        margin-top: 20px;
        color: #ddd;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 thẻ phân bố đều nhau */
    gap: 20px; /* Khoảng cách giữa các thẻ */
    margin: 40px 0; /* Giảm khoảng trống phía trên và dưới */
    padding: 0 20px; /* Tạo khoảng cách nhỏ hai bên để không đụng mép màn hình */
}

.card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    color: #fff;
}


    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
        background-color: #444;
    }

    .card h3 {
        font-size: 1.8rem;
        margin-bottom: 15px;
        color: white; /* Màu đỏ */
        animation: textHighlight 1.5s ease-in-out;
    }

    .card p {
        font-size: 1rem;
        margin-bottom: 20px;
        color: #ddd;
    }

    .card .btn {
        background-color: #c0392b; /* Màu đỏ */
        color: white;
        padding: 15px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1.1rem;
        margin-top: 20px;
        transition: background-color 0.3s, transform 0.3s;
    }

        .card .btn:hover {
            background-color: #ff6b81; /* Màu sáng hơn khi hover */
            transform: scale(1.05);
        }

        .card .btn i {
            margin-right: 8px;
        }

.footer-section {
    text-align: center;
    background-image: url('backgrounddangnhap.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}

    .footer-section h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: white; /* Màu đỏ */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }

    .footer-section p {
        font-size: 1.2rem;
        color: #ddd;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }
.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

