/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes textHighlight {
    from {
        color: #fff;
    }

    to {
        color: #ff4757;
    }
}
