@{
    Layout = null; // This disables the use of the layout file.
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANH HÙNG TRANH BÁ CINEMA</title>
    <link rel="stylesheet" href="~/css/GioiThieu.css">
</head>
<body>
    <header>
        <h1>ANH HÙNG TRANH BÁ </h1>
        <h2>Trang phim đỉnh nhất Việt Nam</h2>
    </header>

    <main>
        <img src="~/images/quayphim.jpg" alt="styles" style="width: 100%; height: auto; max-height: 500px; object-fit: cover; display: block; margin: 0 auto" />

        <section class="description"> 
            <h2></h2>
            <p>
                Anh Hùng Tranh Bá là một trang web xem phim trực tuyến hàng đầu, chuyên cung cấp các bộ phim hành động, siêu anh hùng đặc sắc, hấp dẫn. Với giao diện hiện đại, dễ sử dụng, người dùng có thể dễ dàng khám phá và thưởng thức các bộ phim chất lượng cao từ khắp nơi trên thế giới. Đặc biệt, trang còn có tính năng tương tác "tám bạn cùng gu", giúp kết nối những người có sở thích phim ảnh, tạo điều kiện cho người dùng giao lưu, chia sẻ cảm nhận và trải nghiệm xem phim cùng nhau, từ đó xây dựng một cộng đồng yêu phim gắn kết và sôi động.
            </p>
        </section>

        <section class="recommended-section">
            </div>

        </section>

        <section class="members">
            <h2>Thành Viên</h2>
            <div class="member-list">
                <div class="member-item">
                    <img src="~/images/khang.jpg"  alt="Phan Vũ Thành Khang"/>
                    <p>Phan Vũ Thành Khang (Thành viên)</p>
                </div>
                <div class="member-item">
                    <img src="~/images/Duy.jpg" alt="Tiểu Anh Duy"/>
                    <p>Tiêu Anh Duy (Nhóm Trưởng)</p>
                </div>
                <div class="member-item">
                    <img src="~/images/Nguyen.jpg" alt="Nguyên Nguyên"/>
                    <p>Nguyễn Nguyễn (Thành viên)</p>
                </div>
                <div class="member-item">
                    <img src="~/images/Cuong.jpg" alt="Lương Chí Cường"/>
                    <p>Lương Chí Cường (Thành viên)</p>
                </div>
                <div class="member-item">
                    <img src="~/images/Kiet.jpg" alt="Nguyễn Huỳnh Tuấn Kiệt"/>
                    <p>Nguyễn Huỳnh Tuấn Kiệt (Thành viên)</p>
                </div>
                <div class="member-item">
                    <img src="~/images/Man.jpg" alt="Nguyễn Ngọc Mẫn"/>
                    <p>Nguyễn Ngọc Mẫn (Thành viên)</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
