@model AHTB_TimBanCungGu_API.ViewModels.NhanVienVM

<div class="modal-header">
    <h5 class="modal-title" id="editModalLabel">Thêm Mới Người Dùng</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form asp-action="Create" id="addUserForm" method="post" id="createForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label asp-for="UserName" class="form-label">Tên Tài Khoản</label>
            <input asp-for="UserName" class="form-control" name="UserName" required />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Password" class="form-label">Mật Khẩu</label>
            <input asp-for="Password" type="password" class="form-control" name="Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" name="Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
            <input type="submit" id="submitButton" value="Lưu" class="btn btn-primary" onclick="addUser()" />
        </div>
    </form>
</div>

<script>
    // Remove diacritics and whitespace
    function convertToNonDiacritics(input) {
        const vietnameseMap = {
            'a': ['á', 'à', 'ả', 'ã', 'ạ', 'â', 'ầ', 'ấ', 'ẩ', 'ẫ', 'ậ', 'ă', 'ằ', 'ắ', 'ẳ', 'ẵ', 'ặ'],
            'e': ['é', 'è', 'ẻ', 'ẽ', 'ẹ', 'ê', 'ề', 'ế', 'ể', 'ễ', 'ệ'],
            'i': ['í', 'ì', 'ỉ', 'ĩ', 'ị'],
            'o': ['ó', 'ò', 'ỏ', 'õ', 'ọ', 'ô', 'ồ', 'ố', 'ổ', 'ỗ', 'ộ', 'ơ', 'ờ', 'ớ', 'ở', 'ỡ', 'ợ'],
            'u': ['ú', 'ù', 'ủ', 'ũ', 'ụ', 'ư', 'ừ', 'ứ', 'ử', 'ữ', 'ự'],
            'y': ['ý', 'ỳ', 'ỷ', 'ỹ', 'ỵ'],
            'd': ['đ'],
            'A': ['Á', 'À', 'Ả', 'Ã', 'Ạ', 'Â', 'Ầ', 'Ấ', 'Ẩ', 'Ẫ', 'Ậ', 'Ă', 'Ằ', 'Ắ', 'Ẳ', 'Ẵ', 'Ặ'],
            'E': ['É', 'È', 'Ẻ', 'Ẽ', 'Ẹ', 'Ê', 'Ề', 'Ế', 'Ể', 'Ễ', 'Ệ'],
            'I': ['Í', 'Ì', 'Ỉ', 'Ĩ', 'Ị'],
            'O': ['Ó', 'Ò', 'Ỏ', 'Õ', 'Ọ', 'Ô', 'Ồ', 'Ố', 'Ổ', 'Ỗ', 'Ộ', 'Ơ', 'Ờ', 'Ớ', 'Ở', 'Ỡ', 'Ợ'],
            'U': ['Ú', 'Ù', 'Ủ', 'Ũ', 'Ụ', 'Ư', 'Ừ', 'Ứ', 'Ử', 'Ữ', 'Ự'],
            'Y': ['Ý', 'Ỳ', 'Ỷ', 'Ỹ', 'Ỵ'],
            'D': ['Đ']
        };

        let result = input;
        for (let key in vietnameseMap) {
            vietnameseMap[key].forEach(function (char) {
                result = result.replace(new RegExp(char, 'g'), key);
            });
        }
        return result.replace(/\s/g, ''); // Remove all whitespace
    }

    document.addEventListener('input', function (event) {
        if (event.target.matches('[name="UserName"], [name="Password"], [name="Email"]')) {
            event.target.value = convertToNonDiacritics(event.target.value);
        }
    });
</script>
