@model AHTB_TimBanCungGu_API.Models.Phim

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDPhim" />
            <div class="form-group">
                <label asp-for="TenPhim" class="control-label"></label>
                <input asp-for="TenPhim" class="form-control" />
                <span asp-validation-for="TenPhim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienVien" class="control-label"></label>
                <input asp-for="DienVien" class="form-control" />
                <span asp-validation-for="DienVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheLoaiPhim" class="control-label"></label>
                <select asp-for="TheLoaiPhim" class="form-control" asp-items="ViewBag.TheLoaiPhim"></select>
                <span asp-validation-for="TheLoaiPhim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayPhatHanh" class="control-label"></label>
                <input asp-for="NgayPhatHanh" class="form-control" />
                <span asp-validation-for="NgayPhatHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanhGia" class="control-label"></label>
                <input asp-for="DanhGia" class="form-control" />
                <span asp-validation-for="DanhGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerURL" class="control-label"></label>
                <input asp-for="TrailerURL" class="form-control" />
                <span asp-validation-for="TrailerURL" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NoiDungPremium" /> @Html.DisplayNameFor(model => model.NoiDungPremium)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SourcePhim" class="control-label"></label>
                <input asp-for="SourcePhim" class="form-control" />
                <span asp-validation-for="SourcePhim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayCapNhat" class="control-label"></label>
                <input asp-for="NgayCapNhat" class="form-control" />
                <span asp-validation-for="NgayCapNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDAdmin" class="control-label"></label>
                <select asp-for="IDAdmin" class="form-control" asp-items="ViewBag.IDAdmin"></select>
                <span asp-validation-for="IDAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
